<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<div role="navigation">
    <div>
      <ul>
        <li data-bind="css: { navigation-active: route().page === 'home-page' }">
          <a href="#">Home</a>
        </li>
         <li data-bind="css: { navigation-active: route().page === 'conditions-page' }">
          <a href="#conditions">Conditions</a>
        </li>
        <li data-bind="css: { navigation-active: route().page === 'constituents-page' }">
          <a href="#constituents">Constituents</a>
        </li>
        <li data-bind="css: { navigation-active: route().page === 'offerings-page' }">
          <a href="#offerings">Offerings</a>
        </li>
      </ul>
    </div>
</div>
